<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Basket</title>
</head>
<body>
<h2>Your Basket</h2>
<a href="/items">Back to items</a>

<table>
    <thead>
    <tr>
        <th>Name</th>
        <th>Price</th>
        <th>Description</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="item : ${basket != null ? basket.basketItems : null}">
        <td th:text="${item.item.getItemName()}">Item Name</td>
        <td th:text="${item.item.getItemPrice()}">Item Price</td>
        <td th:text="${item.item.getItemDesc()}">Item Description</td>

        <td>
            <!-- Update the action URL here -->
            <form th:action="@{/basket/delete/{id}(id=${item.item.id})}" method="post">
                <input type="submit" value="Delete">
            </form>
        </td>
    </tr>

    </tbody>
</table>
</body>
</html>
